{% extends "base.html" %}

{% block content %}
    <h1>Welcome! Just one last step.</h1>
    <p>You have successfully authenticated with Google. What would you like your mBlog username to be?</p>
    
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}